body,
html {
  background: #b6d2b2;
  color: #515c61;
}
#main,
#page-layout-div {
  width: 100% !important;
}
@media only screen and (min-width: 1129px) {
  body {
    width: 1200px !important;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  body {
    width: 95% !important;
  }
}
@media only screen and (max-width: 960px) {
  body {
    width: 98% !important;
  }
}
@media only screen and (max-width: 600px) {
  body {
    width: 100% !important;
  }
}
#main {
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
}
#main table {
  width: 100%;
}
#dynamic-table-div table {
  width: 85%;
}
#page-layout-div {
  margin: 0;
}
@media only screen and (max-width: 600px) {
  #page-layout-div {
    min-height: inherit;
    height: inherit;
    overflow: inherit;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
}
.page-header {
  background: #f7f8f9;
  padding: 8px 5px;
  border-bottom: solid 1px #c6c6c6;
}
@media only screen and (max-width: 600px) {
  .page-header #userid-div {
    margin: 0;
    font-size: 0.8em;
  }
}
.page-header img {
  width: 160px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .page-header img {
    width: 120px;
  }
}
#page-layout-div,
#center-div,
#activity-div {
  border: none;
}
#contacts-div {
  float: left;
  width: 17%;
  margin: 0;
  border: none;
  border-right: solid 1px #c6c6c6;
}
@media only screen and (max-width: 600px) {
  #contacts-div {
    width: 20%;
    min-height: inherit;
    height: inherit;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -webkit-flex-grow: 1;
  }
}
#center-div {
  float: left;
  width: 64%;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  #center-div {
    width: 67%;
    min-height: inherit;
    height: inherit;
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    box-ordinal-group: 4;
    -webkit-flex-grow: 6;
  }
}
.right-align,
.contact-edit,
.contact-delete {
  background: none !important;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.right-align:hover,
.contact-edit:hover,
.contact-delete:hover {
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
}
#activity-div {
  float: left;
  width: 18%;
  border-left: solid 1px #c6c6c6;
}
@media only screen and (max-width: 600px) {
  #activity-div {
    width: 100%;
    min-height: inherit;
    height: inherit;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
    -webkit-flex-grow: 3;
  }
}
.menu-top img {
  filter: alpha(opacity=35);
  opacity: 0.35;
}
.menu-top img:hover {
  filter: alpha(opacity=60);
  opacity: 0.6;
}
#icon-menubar {
  background: none !important;
  border: none;
}
#contact-search {
  border-color: #dedede;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -ms-transition: border 0.5s;
  -o-transition: border 0.5s;
}
#contact-search:hover {
  border-color: #c6c6c6;
}
input,
textarea,
select {
  padding: 3px;
}
.form-buttons-div {
  width: 100%;
}
#forms-container-div {
  width: 95%;
  padding: 2.5%;
  height: inherit;
}
#forms-container-div input,
#forms-container-div select {
  border-color: #c6c6c6;
}
#forms-container-div input:focus,
#forms-container-div select:focus {
  border-color: #413f3f;
}
.form-div {
  width: auto;
  background: none;
}
.small-menubar {
  width: 90%;
  background: none !important;
  border: none;
  height: auto;
  overflow: hidden;
  padding: 10px 0;
}
#calendar-menu-div {
  background: none !important;
  border: none;
}
#calendar-menu-div a {
  padding: 4px;
  border: 1px solid #008000;
  display: inline-block;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 2px;
  opacity: 0.8;
  background: #f0f0f0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#calendar-menu-div a:hover {
  border-color: #4d4d4d;
  background: #cfd6da;
  filter: alpha(opacity=50);
  opacity: 0.5;
  zoom: 1;
}
#contact-search-form fieldset {
  background: #ffffff;
  border: none;
  margin: 0;
  padding: auto;
  width: 100%;
  display: block;
}
#contacts-list-div .color-code,
#task-list-div .color-code,
#task-list-div .color-code {
  padding: 6px 0px 6px 0;
  width: 2px;
  margin: 7px 4px 5px 0px;
}
@media only screen and (max-width: 600px) {
  #contacts-list-div,
  #task-list-div,
  #task-list-div {
    min-height: inherit;
    height: inherit;
  }
}
@media only screen and (max-width: 600px) {
  #contact-info-div {
    min-height: inherit;
    height: inherit;
  }
}
#task-list-div .color-code,
#dynamic-table-div .color-code,
#todo-list-div .color-code,
#events-today-div .color-code {
  margin-left: -4px;
}
@media only screen and (max-width: 600px) {
  .select-width400 {
    width: 95% !important;
  }
}
#contact-search-form,
#task-search-form {
  width: 100%;
  padding: 0;
  margin: 10px auto;
  text-align: center;
}
#contact-search-form img,
#task-search-form img {
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#contact-search-form a,
#task-search-form a {
  padding: 4px;
  border: 1px solid #008000;
  display: inline-block;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 2px;
  opacity: 0.8;
  background: #f0f0f0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#contact-search-form a:hover,
#task-search-form a:hover {
  border-color: #4d4d4d;
  background: #cfd6da;
  filter: alpha(opacity=50);
  opacity: 0.5;
  zoom: 1;
}
#contact-search-form .contact-search,
#task-search-form .contact-search {
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  display: block;
}
#icon-menubar {
  border-bottom: solid 1px #c6c6c6;
  width: 97%;
  padding: 0px 0 5px 3%;
  height: inherit;
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#icon-menubar img {
  filter: alpha(opacity=70);
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  #icon-menubar img {
    width: 17px;
    height: auto;
  }
}
#icon-menubar a {
  padding: 4px;
  border: 1px solid #008000;
  background: #f0f0f0;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 2px;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 600px) {
  #icon-menubar a {
    padding: 3px 0;
  }
}
#icon-menubar a:hover {
  border-color: #4d4d4d;
  background: #f7f8f9;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  background: #cfd6da;
}
#icon-menubar .menu-top a {
  border: none;
}
#activity-div img {
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#activity-div a {
  padding: 4px;
  border: 1px solid #008000;
  background: #f0f0f0;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 2px;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#activity-div a:hover {
  border-color: #4d4d4d;
  background: #f7f8f9;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  background: #cfd6da;
}
#dropdown_nav_wrap ul {
  margin-right: 10px;
}
.div-title {
  background: none !important;
  border: none;
  display: block;
  width: 95%;
  font-size: 11px;
  padding: 8px 0px 5px 5%;
}
#task-list-title,
#todo-list-title,
#events-today-title {
  width: 100%;
  border: none;
  background: none !important;
  padding: 4px 0 0 0;
  font-size: 11px;
  font-weight: bolder;
  margin: 0 2px;
}
#task-list-div,
#todo-list-div,
#events-today-div,
#contact-info-div {
  width: 100%;
}
#task-list-div .task-entry:hover,
#todo-list-div .task-entry:hover,
#events-today-div .event-entry:hover {
  background: #dedede;
  cursor: pointer;
}
#contacts-list-div {
  width: auto;
  margin: 0;
  border-top: solid 1px #c6c6c6;
  background: #ffffff;
  color: #413f3f;
}
#contacts-list-div .contact-entry {
  padding: 6px 5px 6px 0;
  display: block;
  border-bottom: solid 1px #c6c6c6;
  font-size: 11px;
  -webkit-transition: background 0.7s;
  -moz-transition: background 0.7s;
  -ms-transition: background 0.7s;
  -o-transition: background 0.7s;
  width: 100%;
}
#contacts-list-div .contact-entry:hover {
  background: #dedede;
  cursor: pointer;
}
#contacts-list-div br {
  display: none;
}
.task-add,
.right-align,
.contact-edit,
.contact-delete {
  background: none !important;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.task-add:hover,
.right-align:hover,
.contact-edit:hover,
.contact-delete:hover {
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
}
#forms-container-div .menubar {
  background: #f7f8f9 !important;
  border: none;
  border-top: solid 1px #c6c6c6;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#forms-container-div .menubar a,
.contact-save-btn a,
activity-save-btn a {
  padding: 10px 25px;
  background: #515c61;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  font-weight: bolder;
  font-size: 1.1em;
  text-transform: uppercase;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
}
#forms-container-div .menubar a img,
.contact-save-btn a img,
activity-save-btn a img {
  vertical-align: middle;
  margin-right: 4px;
  display: none;
}
#forms-container-div .menubar a:hover,
.contact-save-btn a:hover,
activity-save-btn a:hover {
  cursor: pointer;
  background: #413f3f;
}
#forms-container-div .menubar a:after,
.contact-save-btn a:after,
activity-save-btn a:after {
  content: "Save";
}
.footer-text {
  border-top: solid 1px #c6c6c6;
  padding: 5px;
  display: block;
  font-size: 11px;
}
.footer-text a {
  color: #515c61;
}
#contact-info-div td {
  padding: 2px;
}
.data-header-color {
  background: #e8ebee !important;
  color: #9da9ae;
  padding: 6px !important;
}
.task-date,
.task-entry,
.list-entry,
.data-header-color,
.data-row {
  padding: 4px;
  display: block;
}
.data-header {
  padding: 4px;
}
#dynamic-table-div .data-element {
  margin: 6px 4px;
}
#dropdown_nav_wrap .menu-top li {
  padding: 2px;
}
#dropdown_nav_wrap .menu-top a {
  background: #f0f0f0;
  border: 1px solid #008000;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 2px;
}
#dropdown_nav_wrap .menu-top a:hover {
  background: #dadfe3;
  filter: alpha(opacity=100);
  opacity: 1;
}
#main {
  position: relative;
}
#calendar-div {
  border: 2px solid #008000;
  width: 96%;
  padding: 2%;
  height: auto;
}

/*# sourceMappingURL=style2016.css.map */